version: '3.3'

services:

  db:
    image: postgres:14.0-alpine
    restart: always
    volumes:
      - /var/lib/postgresql/data/
    env_file:
      - ./.env

  backend:
    image: johnnyvandev/foodgram_backend:1.0.0
    volumes:
      - static_value:/app/backend_static/
      - media_value:/app/backend_media/ 
    depends_on:
      - db
    env_file:
      - ./.env
    expose:
      - 8000

  frontend:
    image: johnnyvandev/foodgram_frontend:1.0.0
    volumes:
      - ../frontend/:/app/result_build/

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    
    restart: always
    depends_on:
      - backend
      - frontend

volumes: 
  static_value:
  media_value:
  db:
